

@media screen and (max-width: 950px) {
  
  
      
    
   
  
    .googleplay {
      size: 2%;
      margin: 2px 2px;
      color: #ecf5ed;
      cursor: pointer;
    }
  
  
  
    
  
  
    .footer-logo {
      float: left;
    }
    
  }  




  
 